{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofwwwewdewwwrm</title>
    <link rel="stylesheet" type="text/css" href="http://brandio.io/envato/iofrm/html/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://brandio.io/envato/iofrm/html/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="http://brandio.io/envato/iofrm/html/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="http://brandio.io/envato/iofrm/html/css/iofrm-theme5.css">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="http://brandio.io/envato/iofrm/html/images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="http://brandio.io/envato/iofrm/html/images/graphic2.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="login5.html" class="active">Login</a><a href="register5.html">Register</a>
                        </div>
                        <form method="post" action="/panel/login">
                            <input class="form-control" type="text" name="username" placeholder="Username" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="forget5.html">Forget password?</a>
                            </div>
                            {% csrf_token %}

                        </form>
                        <div class="other-links">
                            <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="http://brandio.io/envato/iofrm/html/js/jquery.min.js"></script>
<script src="http://brandio.io/envato/iofrm/html/js/popper.min.js"></script>
<script src="http://brandio.io/envato/iofrm/html/js/bootstrap.min.js"></script>
<script src="http://brandio.io/envato/iofrm/html/js/main.js"></script>
</body>
</html>
