﻿@font-face {
	font-family: foil;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/foil(foil)_Bold.eot');
	src: url('../fonts/eot/foil(foil)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/foil(foil)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/foil(foil)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/foil(foil)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: foil;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/foil(foil)_Medium.eot');
	src: url('../fonts/eot/foil(foil)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/foil(foil)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/foil(foil)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/foil(foil)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: foil;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/foil(foil)_Light.eot');
	src: url('../fonts/eot/foil(foil)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/foil(foil)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/foil(foil)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/foil(foil)_Light.ttf') format('truetype');
}
@font-face {
	font-family: foil;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/eot/foil(foil)_UltraLight.eot');
	src: url('../fonts/eot/foil(foil)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/foil(foil)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/foil(foil)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/foil(foil)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: foil;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/foil(foil).eot');
	src: url('../fonts/eot/foil(foil).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/foil(foil).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/foil(foil).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/foil(foil).ttf') format('truetype');
}
